#wp-user-avatar-message { color: #c00; display: none; }
#wp-user-avatar-preview img { max-width: 96px; }
.defaultavatarpicker #wp-user-avatar-preview { width: 32px; height: 32px; display: inline-block; overflow: hidden; vertical-align: middle; }
.defaultavatarpicker #wp-user-avatar-preview img { width: 32px; }
#edit-wp-user-avatar { padding-left: 15px; }
#edit-wp-user-avatar #remove-wp-user-avatar { margin-left: 10px; }
.hide-me, .wp-core-ui .hide-me { display: none; }
